*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fashions{
    display: flex;
    justify-content: space-around;
    padding:40px ;
}
.fashion img{
    width:300px;
    height: 400px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
li{
    border:1px solid black;
    padding:5px;
} 
  .h3,p,ul{
    text-align: center;
    padding: 10px 0px;
  }  
a{
    display:inline-block;
    padding:10px ;
    margin:0px 90px;
    text-align: center;
    border:1px solid #fff;
    background-color: green;
    color: white;
    text-decoration: none;
    
}

